@model Bandeira.Models.ArquivoDaLista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<section class="pagConteudo">
    <nav class="titulo">
        <ul>
            <li><span class="nome">@Model.nome</span></li>
        </ul>
        <br>
    </nav>  
    <div class="conteudo">
        <pre class="prettyprint linenums"> @Model.conteudo; </pre>
    </div>

        <form class="formAnot" action="~/Home/SalvarDados" method="post">
            <input type="hidden" name="nome" value="@Model.nome" />
            <input type="hidden" name="atual" value="@(Model.proximo -1)" />
            <textarea rows="30" name="anotacao" class="textFormAnot">@ViewBag.Anotacao</textarea>
            @{
                if (Model.proximo != 1)
                {
                    <div class="voltar">
                        @{
                            int anterior = Model.proximo - 2;
                            @Html.ActionLink("Anterior", "Detalhes", new { id = anterior })
                        }
                    </div>
                }

                if (Model.proximo != Model.totalDeArquivos)
                {
                    <button name="btnSalvar" type="submit" class="btnProximo">Proximo</button>
                }
                else
                {                   
                    <button name="btnAnotacoes" type="submit" class="btnAnotacoes">Anotacoes</button>
                }
            }
        </form>
    <div class="clear"></div>
</section>



