@model Bandeira.Models.ArquivoDaLista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<section class="Pagina">
    <h2>@Model.nome</h2>
    <section class="Conteudo">
        <div>
            <pre> @Model.conteudo; </pre>
        </div>
    </section>
</section>

@{
    if(Model.proximo != 1)
    {
        int anterior = Model.proximo - 2;
        @Html.ActionLink("Anterior", "Detalhes", new { id = anterior })
    }
}

@{
    if(Model.proximo != Model.totalDeArquivos)
    {  
        @Html.ActionLink("Proximo", "Detalhes", new { id = @Model.proximo })
    }
}

