@model Bandeira.Models.ArquivoDaLista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<section class="pagConteudo">
    <nav class="titulo">
        <ul>
            <li><span class="nome">@Model.nome</span></li>
        </ul>
        <br>
    </nav>  
    <div class="conteudo">
        <pre class="prettyprint linenums"> @Model.conteudo; </pre>
    </div>

        <form class="formAnot" action="~/Home/SalvarDados" method="post">
            <input type="hidden" name="nome"            value="@Model.nome" />
            <input type="hidden" name="conteudo"        value="@Model.conteudo" />
            <input type="hidden" name="proximo"         value="@Model.proximo" />
            <input type="hidden" name="totalDeArquivos" value="@Model.totalDeArquivos" />
            <textarea rows="30"  name="anotacao"></textarea>
            <button name="btnSalvar" type="submit">Salvar</button>
        </form>

    <div class="clear"></div>
        @{
            if (Model.proximo != 1)
            {
                <div class="voltar">
                    @{
                        int anterior = Model.proximo - 2;
                        @Html.ActionLink("Anterior", "Detalhes", new { id = anterior })
                    }
                </div>
            }
        }
        @{
            if (Model.proximo != Model.totalDeArquivos)
            {
                <div class="proximo">
                    @Html.ActionLink("Proximo", "Detalhes", new { id = @Model.proximo })
                </div>
            }
        }
</section>



