@model Bandeira.Models.ArquivoDaLista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<section class="pagina">
    <nav class="titulo">
        <ul>
            <li><span>@Model.nome</span></li>
        </ul>
        <br>
    </nav>  
    <section class="conteudo">
        <pre class="prettyprint linenums"> @Model.conteudo; </pre>
    </section>
        @{
            if (Model.proximo != 1)
            {
                <div class="voltar">
                    @{
                        int anterior = Model.proximo - 2;
                        @Html.ActionLink("Anterior", "Detalhes", new { id = anterior })
                    }
                </div>
            }
        }
        @{
            if (Model.proximo != Model.totalDeArquivos)
            {
                <div class="proximo">
                    @Html.ActionLink("Proximo", "Detalhes", new { id = @Model.proximo })
                </div>
            }
        }
</section>


